<h1>Friends</h1>

<ul>
  <% @user.friendships.each do |friendship| %>
      <%if friendship.friend.friends.exists?(current_user) %>
      <li>
      <%= link_to friendship.friend.name, friendship.friend %>
      <%= link_to "(Remove)", friendship, :method => :delete%>
      </li>
      <%end%>
  <% end %>
</ul>



